.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image {
  object-fit: cover;
  width: 300px;
  height: 348px;
  user-select: none;
}

.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 35rem;
}

.headerContainer > h1,
.headerContainer > h3 {
  padding: 25px;
}

.newsElement {
  margin-top: 8rem;
}

.newsElement h1 {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.cardStackElement {
  display: flex;
  justify-content: center;
  max-height: 30rem;
  max-width: 30rem;
}

@media only screen and (max-width: 950px) {
  .cardStackElement {
    display: none;
  }
}