.tryingMyBest {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

.main {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}