.nav {
  display: flex;
  padding-left: 1rem;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  margin-left: 1.25rem;
  margin-right: 1.25rem;

  padding-right: 3.5rem;
}


.profile li{
  font-size: xx-large !important;
  position: relative;
  top: -0.5rem;
  right: 0;
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.companyName {
  margin-top: 0;
  color: whitesmoke;
  display: flex;
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 3px 3px 20px #4f3499,
  -2px 1px 30px #4f3499;
  
}

.logo{
  scale: .55;
  height: 11vh;
  width: 7.5vw;
}

.nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  position: relative;
  left: 5rem;
}

.nav ul li {
  margin: auto 2rem;
  color: whitesmoke;
  font-weight: bold;
  font-size: large;
}

.nav ul li a, .signOut {
  box-shadow: inset 0 0 0 0 #cfcdcd30;
  color: #ffffff;
  border-radius: 20%;
  padding:.75rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav ul li a:hover, .signOut:hover {
  color: #ffffff;
  box-shadow: inset 200px 0 0 0 rgba(93, 66, 116, 0.399);
  padding:.75rem; 
  border-radius: 20%;
  outline: 1px solid rgb(93, 66, 116);
}
.nav ul li a:active{
  background-color: rgb(93, 66, 116);
}

.modalOverlay {
  background-color: transparent;
}

.modalContent {
  position: fixed;
  top: 8%;
  right: 1%;
  bottom: auto;
  left: auto;
  width: 300px;
  height: 30vh;
  padding: 20px;
  background: linear-gradient(to right top, #273969, #21305b, #1c274e, #161f41, #101735, #141737, #181638, #1c1639, #2f1b47, #442053, #5b235e, #732466);
  overflow: auto;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 4px;
  outline: 2px solid rgb(0, 0, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(5px 5px 5px black);
}

.signOut {
  outline: 1px solid rgb(91, 35, 94);
  background-color: rgba(123, 41, 126, 0.386);
  position: relative;
  right: -30%;
  bottom: -.75rem;
}

@media only screen and (max-width: 600px) {
  .profile {
    right: 0;
  }
  .nav ul {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .companyName {
    font-size: medium;
  }
} 