.buttonContainer {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonContainer button {
  margin: auto 2rem;
  color: whitesmoke;
  font-weight: bold;
  font-size: large;
  background: none;
  border-top: 2px solid rgb(93, 66, 116);
  border-left: 2px solid rgb(93, 66, 116);
}

.buttonContainer button {
  box-shadow: inset 0 0 0 0 #cfcdcd30;
  color: #ffffff;
  border-radius: 5%;
  padding:.75rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out !important;
  
}

.buttonContainer button:hover {
  color: #ffffff;
  box-shadow: inset 200px 0 0 0 rgba(93, 66, 116, 0.399);
  padding:.75rem; 
  border-radius: 5%;
  outline: 1px solid rgb(93, 66, 116);
}

/* .buttonContainer button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
} */

.activeButton {
  box-shadow: inset 200px 0 0 0 rgba(93, 66, 116, 0.399) !important;
  outline: 1px solid rgb(93, 66, 116);
}

