/* fix header and button and adjust card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3c3c3c;
    color: #ffffff;
    width: 18vw;
    height: 18vh;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
    margin: 20px;
  }

  .bankName{
    align-self: start !important;
    margin-left: 1rem;
  }

  .cardBalance {
    display: flex;
  }
  .cardLimit {
    display: flex;
    width: 100%;
  }
  
  .spendButton {
    padding: 10px;
    color: #3c3c3c;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .spendButton:hover {
    background-color: #f1f1f1;
  }

  .expirationDate{ 
    font-size: large;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .cardNumber {
    display: flex;
    margin-top: 2rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    filter: drop-shadow(2px 1px 2px rgb(29, 39, 80));
  }
  
  .button {
    padding:.75rem;
    margin-top: 20px !important;
    font-size: 16px;
    background-color: rgba(106, 80, 154, 0.758);
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 200px 0 0 0 rgba(27, 39, 91, 0.711);
    outline: 1px solid rgba(17, 26, 66, 0.856);
    margin: .2rem;
    border-radius: 15%;
    user-select: none;
    color: #ffffff;
    background-color: none;
    font-weight: 600;
  }

  .button:hover{
    box-shadow: inset 200px 0 0 0 rgba(79, 46, 151, 0.708);
    color: #ffffff;
    outline: 1px solid rgb(106, 80, 154);
    border-radius: 15%;
  }

  .button:active{
    background-color: #fff;
  }